<div class="container">
  <p class="title">LIST OF RESTAURANTS</p>
  <div
    *ngFor="let customer of customerList; let i = index"
    class="card-container"
  >
    <div>
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header class="expansion-header">
            <mat-panel-title class="restaurantName">
              {{ customer.restaurantName }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div *ngFor="let items of customer.orderArray; let j = index">
            <div class="nxt-card">
              <p class="name">{{ items.customerName }}</p>
              <p class="info">Order Number: {{ items.orderId }}</p>
              <p>Ordered Items: {{ formatOrderItems(items.orderItems) }}</p>
              <p class="info">Total Price: {{ items.totalPrice }}</p>
              <button
                class="btn"
                (click)="onPreparingFoodClicked(i, j, items)"
                [disabled]="buttonStates[i][j]"
                [class.green]="!buttonStates[i][j]"
                [class.blue]="buttonStates[i][j]"
                *ngIf="!readyForPickup"
              >
                {{ buttonStates[i][j] ? "Ready for pickup" : "Preparing food" }}
              </button>
              <h3 style="color: rgb(7, 64, 7);" *ngIf="readyForPickup">Ready For Pickup</h3>
            </div>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
