.body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background-color: #f0f0f0;
}

.content {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: calc(50% - 20px);
  padding: 20px;
  display: flex;
  flex-direction: column;
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.title {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.title img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.title h4 {
  margin: 0;
  font-weight: 600;
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  font-weight: 600;
}

.hover-effect:hover {
  font-weight: 500;
}
