<html>
  <body class="body">
    <div class="card">
      <div class="title">
        <img src="https://static.vecteezy.com/system/resources/previews/024/341/917/original/top-5-3d-render-png.png" alt="Avatar" />
        <div class="container">
          <h4><b>Top 5 restaurants</b></h4>
        </div>

      </div>
      <div class="content">
        soemthing
      </div>
    </div>
    <div class="card">
      <div class="title">
        <img src="https://static.vecteezy.com/system/resources/previews/024/341/917/original/top-5-3d-render-png.png" alt="Avatar" />
        <div class="container">
          <h4><b>Top Influencer Picks</b></h4>
        </div>

      </div>
      <div class="content">
        soemthing
      </div>
    </div>
    <div class="card">
      <div class="title">
        <img src="https://static.vecteezy.com/system/resources/previews/024/341/917/original/top-5-3d-render-png.png" alt="Avatar" />
        <div class="container">
          <h4><b>Top 5 budget-friendly restaurants </b></h4>
        </div>

      </div>
      <div class="content">
        soemthing
      </div>
    </div>
    <div class="card">
      <div class="title">
        <img src="https://static.vecteezy.com/system/resources/previews/024/341/917/original/top-5-3d-render-png.png" alt="Avatar" />
        <div class="container">
          <h4><b>Top restaurants within 5km</b></h4>
        </div>

      </div>
      <div class="content">
        soemthing
      </div>
    </div>
  </body>
</html>
