@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

/* Gradient background */
.gradient-custom {
    background: #ebeaec; /* Fallback */
    background: -webkit-linear-gradient(to right, rgb(247, 247, 248), rgb(206, 208, 212)); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgb(230, 230, 230), rgb(216, 216, 216)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Cart container */
.cart-container {
    max-width: 600px;
    margin: 20px auto; /* Added some top margin for spacing */
    background-color: #fff; /* White background */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
    padding: 20px; /* Added padding */
}

/* Cart item */
.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    
    padding-bottom: 10px; /* Added padding */
}

/* Total amount and delivery fees */
.cart-total {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    }

.delivery-fees {
    display: flex;
    justify-content: space-between;
}

.total-amount {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-weight: bold;
    }

    .checkout {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: #4CAF50; /* Green */
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    
    .checkout:hover {
        background-color: #45a049; /* Darker green on hover */
    }
    
    .remove {
        background-color: #ff3333; /* Red */
        color: #fff;
        border: none;
        padding: 5px 10px;
        border-radius: 3px;
        cursor: pointer;
        align-items: end;
    }
    
    .remove:hover {
        background-color: #cc0000; /* Darker red on hover */
    }
    
    .item-cont{
        border-bottom: 1px solid #ccc; /* Bottom border for separation */
    }
