<div class="restaurants-drop">
  <select [(ngModel)]="selectedRestaurant" (change)="fetchDishesByRestaurantId($event)">
    <option *ngFor="let restaurant of restaurants" [value]="restaurant.id">{{ restaurant.name }}</option>
  </select>
  
  <select *ngIf="selectedRestaurant" [(ngModel)]="selectedDish">
    <option *ngFor="let dish of selectedRestaurantDishes" [value]="dish.dish"> {{ dish.dish }} -  ₹{{ dish.price }}</option>
  </select>
  <button (click)="addToCart()">Add to Cart</button>
  <!-- Rest of your cart HTML -->
</div>

<div class="cart-container">
  <!-- Your existing content for the food order cart -->
  <h2>Food Order Cart</h2>
  <div *ngIf="cart.length > 0" class="item-cont">
    
    <ul>
      <li *ngFor="let item of cart; let i = index">
        <div class="cart-item">
        {{ item.dish }} - ₹{{ item.price }}
        <button (click)="removeFromCart(i)" class="remove">Remove</button>
      </div>
      </li>
    </ul>
  </div>
 
  <div class="cart-total">
    <span>Cart Total: </span>
    <span>₹{{ cartTotal }}</span>
  </div>
  <div class="delivery-fees">
    <span>Delivery fees: </span>
    <span>24</span>
  </div>
  <div class="total-amount">
    <span>Total Amount: </span>
    <span>228</span>
  </div>
  <button class="checkout">Checkout</button>
</div>
