<div class="cart-container">
  <!-- Your existing content for the food order cart -->
  <h2>Food Order Cart</h2>
  <div *ngIf="cart.length > 0" class="item-cont">
    
    <ul>
      <li *ngFor="let item of cart; let i = index">
        <div class="cart-item">
        {{ item.dish }} - ₹{{ item.price }}
        <button (click)="removeFromCart(i)" class="remove">Remove</button>
      </div>
      </li>
    </ul>
  </div>
 
  <div class="cart-total">
    <span>Cart Total: </span>
    <span>{{ ordersData.totalPrice }}</span>
  </div>
  <div class="delivery-fees">
    <span>Delivery fees: </span>
    <span>24</span>
  </div>
  <div class="total-amount">
    <span>Total Amount: </span>
    <span>{{ ordersData.totalPrice }}</span>
  </div>
  <button class="checkout" (click)="placeOrder()">Place Order</button>
</div>
