<nav class="navbar navbar-expand-lg bg-warning rounded shadow" aria-label="Thirteenth navbar example">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample11"
      aria-controls="navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="">
      <img width="60px" height="60px" src="https://www.freepnglogos.com/uploads/f-logo-orange-png-19.png"
        class="img-fluid rounded-top" alt="flogo"><span class="h5">foodsmela.com</span>
    </div>
    <div class="">
      <a class="nav-link active link-light" aria-current="page" routerLink="/">Home</a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<ng-toast></ng-toast>
<app-footer></app-footer>
