<div class="restaurant-card">
    <div class="restaurant-details">
      <h2>{{ restaurant.restaurantDetails.properties.name }}</h2>
      <div>
          Average cost for two : {{getAvgCostForTwo}}
      </div>
      <div class="cuisine-tags">
        <span class="cuisine-tag" *ngFor="let cuisineTag of cuisine">{{
          cuisineTag
        }}</span>
      </div>
    </div>
  
    <div class="collapsible">
      <h3 (click)="toggleCollapse('dishes')">Dishes</h3>
      <div class="content" [ngClass]="{ collapsed: collapsedSections.dishes }">
        <div class="dish-card" *ngFor="let dish1 of dish">
          <h4>{{ dish1 }}</h4>
        </div>
      </div>
    </div>
  
    <div class="collapsible">
      <h3 (click)="toggleCollapse('influencersReviews')">Influencers Reviews</h3>
      <div
        class="content"
        [ngClass]="{ collapsed: collapsedSections.influencersReviews }"
      >
        <div class="review-group">
          <div class="review-card" *ngFor="let review of influencersReviews">
            <div class="review-header">
              <h4>{{ review.customerdetails.properties.name }}</h4>
            </div>
            <div class="review-content">
              <p>Rating: {{ review.reviews[0].rating }}</p>
              <p>{{ review.reviews[0].review }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="collapsible">
     
      <h3 (click)="toggleCollapse('nonInfluencersReviews')">
        Non-Influencers Reviews
      </h3>
      <div
        class="content"
        [ngClass]="{ collapsed: collapsedSections.nonInfluencersReviews }"
      >
        <div class="review-group">
          <div class="review-card" *ngFor="let review of nonInfluencersReviews">
            <div class="review-header">
              <h4>{{ review.customerdetails.properties.name }}</h4>
            </div>
            <div class="review-content">
              <p>Rating: {{ review.reviews[0].rating }}</p>
              <p>{{ review.reviews[0].review }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  