
<div class="rider-container">
  <div class="map-container">
      <div id="map" style="height: 90vh; width:130vh "></div>
  </div>
  <div class="order-details">
    <h2>Order Details {{ orderDetails.orderId}}</h2>
    <div class="order-card">
        <div class="card-header">
            <h5>Restaurant Name</h5>
            <p>{{ orderDetails.restaurantName }}</p>
        </div>
        <div class="card-body">
            <h5>Restaurant Address</h5>
                        <p>{{ orderDetails.rider.restaurantAddress }}</p>

            <h5>Order Items</h5>
            <ul>
              <li *ngFor="let item of orderDetails.orderItems">
                {{ item.quantity }}x {{ item.dish }} - ${{ item.price * item.quantity }}
            </li>            </ul>
        </div>
        <div class="card-body">
          <h5>Customer Name</h5>
                      <p>{{ orderDetails.customerName }}</p>

          <h5>Delivery Address</h5>
          <p>{{ orderDetails.deliveryAddress }}</p>

      </div>
    </div>
    <p>Pick up code: {{ orderDetails.rider.pickUpCode }}</p>

    <p>Order Status: {{ orderDetails.orderStatus | textTransform }}</p>
    <input *ngIf="isOutForDelivery" style="width: 100px;" type="number" minlength="4" maxlength="4" [(ngModel)]="code"/>
    <button *ngIf="isOutForDelivery" style="width: 100px;" (click)="updateStatus()">Verify & Deliver</button>

  </div>
</div>

