.containers {
    display: inline-flex;
    height: 630px;
    width: 100%;
    margin: 10px;
    .maps {
        width: 60%;
        height: 100%;
    }
    
    .orderdetails {
        width: 40%;
        height: 100%;
    }
}