
<div class="rider-container">
  <div class="map-container">
      <div id="map" style="height: 100vh; width:100vh "></div>
  </div>
  <div class="order-details">
    <h2>Order Details</h2>
    <div class="order-card">
        <div class="card-header">
            <h5>Restaurant Name</h5>
            <p>{{ orderDetails.restaurantName }}</p>
        </div>
        <div class="card-body">
            <h5>Restaurant Address</h5>
                        <p>{{ orderDetails.rider.restaurantAddress }}</p>

            <h5>Order Items</h5>
            <ul>
              <li *ngFor="let item of orderDetails.orderItems">
                {{ item.quantity }}x {{ item.dish }} - ${{ item.price * item.quantity }}
            </li>            </ul>
        </div>
    </div>
    <p>Order Status: {{ orderDetails.orderStatus | textTransform }}</p>
    <button (click)="updateStatus()" *ngIf="statusToBeUpdated">{{ statusToBeUpdated }}</button>
  </div>
</div>

